.login-form {
  min-width: 320px;
  width: 80%;
  max-width: 1280px;
  margin: 200px auto 0;
  border: 1px solid;
}

.search-box {
  border: 1px solid;
  min-width: 320px;
  width: 80%;
  max-width: 1280px;
  margin: 100px auto 0;
  border: 1px solid;
  height: 100%;
}

.search-preview-container {
  margin-top: 15px;
  border: 1px solid;
}
.search-preview-container .content-box {
  border: 1px solid;
}
.search-preview-container .content-box .content {
}
